@(userForm: Form[NasaRegistration])
@import helper._
@import helper.twitterBootstrap._
@main("Nasa User Registration Form"){



    <div class="clearfix  " id="name_field">
       
                    
    <legend>Registration Form</legend>
    @helper.form(action = routes.NasaRegistrationController.submit()){
    <fieldset>
    @helper.inputText(userForm("userNameField"),'_label -> "User Name*")
    @helper.inputPassword(userForm("passwordField"), '_label -> "Password*")
    @helper.inputText(userForm("fNameField"), '_label -> "First Name*")
    @helper.inputText(userForm("mNameField"), '_label -> "Middle Name")
    @helper.inputText(userForm("lNameField"), '_label -> "Last Name")

    @textarea(
                userForm("affliationField"), 
                '_label -> "Affliation", 'cols -> 50, 'rows -> 5
            )
    @helper.inputText(userForm("emailField"), '_label -> "Email")
    @helper.inputText(userForm("rAreaField"),  '_label -> "Research Area")
    @textarea(
                userForm("goalField"), 
                '_label -> "Goal", 'cols -> 50, 'rows -> 5
            )
    @helper.inputText(userForm("algoField"), '_label -> "Algo")
        @textarea(
                userForm("bConcernsField"), 
                '_label -> "Budget Concerns", 'cols -> 50, 'rows -> 5
            )
    
    @select(
                userForm("awsFamiliarityField"), 
                options = options(NasaAWSFamiliarity.list),
                '_default -> "--- AWS Familiarity ---",
                '_label -> "AWS Familarity",
                '_error -> userForm("profile.country").error.map(_.withMessage("Please select your country"))
            )
    <input type="submit" class="btn btn-primary" value="Register">
    <fieldset>
    </div>
}
}

