@import helper._

@main("Estimator") {

<ol class="breadcrumb">
	<li><a href="/estimator/tutorial">Tutorial</a></li>
	<li><a href="/estimator">Collect Data</a></li>
	<li><a href="/estimator/1">Input Preference</a></li>
	<li><a href="/estimator/2">Workflow Summary</a></li>
	<li class="active">Recommendation</li>
</ol>



<body>
	
	
	<div class="container">
	<p>Virtual Machine Recommendation</p>
<table cellspacing='0' class="table table-striped table-bordered table-condensed" align="center">
                    <!-- cellspacing='0' is important, must stay -->

                    <!-- Table Header -->
                    <thead>
                        <tr>
                            <th></th>
                            <th>vCPU</th>
                            <th>ECU</th>
                            <th>Memory(GiB)</th>
                            <th>Storage</th>
                            <th>Price</th>
                            <th>Estimated Total Cost</th>
                            <th></th>
                        </tr>
                    </thead>

                    <tbody>
                        
                        <tr class="pure-table-odd">
                            <td>
                                m3.large
                            </td>
                            <td>
                                2
                            </td>
                            <td>
                                6.5
                            </td>
                            <td>
                                7.5
                            </td>
                            <td>
                               1*32 SSD
                            </td>
                            <td>
                            $.225 per hour
                            </td>
                            <td>
                            $88,000
                            </td>
                            <td>
                            <button type="button" class="btn" onclick="" method="get">Use it</button>
                            </td>
                            
                        </tr>


                    </tbody>

                </table>
	
	</div>
	
	<div class="container">
	
	<p><br><br>Other options</p>
<table cellspacing='0' class="table table-striped table-bordered table-condensed" align="center" id="pubvalues">
                    <!-- cellspacing='0' is important, must stay -->

                    <!-- Table Header -->
                    <thead>
                        <tr>
                            <th></th>
                            <th>vCPU</th>
                            <th>ECU</th>
                            <th>Memory(GiB)</th>
                            <th>Storage</th>
                            <th>Price</th>
                            <th>Estimated Total Cost</th>
                            <th></th>
                        </tr>
                    </thead>

                    <tbody>
                        
                        <tr class="pure-table-odd">
                            <td>
                                m3.medium
                            </td>
                            <td>
                                1
                            </td>
                            <td>
                                3
                            </td>
                            <td>
                                3.75
                            </td>
                            <td>
                               1*4 SSD
                            </td>
                            <td>
                            $.113 per hour
                            </td>
                            <td>
                            $68,000
                            </td>
                            <td>
                            <button type="button" class="btn" onclick="" method="get">Use it</button>
                            </td>
                            
                        </tr>


                    </tbody>
                    
                    <tbody>
                        
                        <tr class="pure-table-odd">
                            <td>
                                m3.xlarge
                            </td>
                            <td>
                                4
                            </td>
                            <td>
                                13
                            </td>
                            <td>
                                15
                            </td>
                            <td>
                               4*40 SSD
                            </td>
                            <td>
                            $.450 per hour
                            </td>
                            <td>
                            $128,000
                            </td>
                            <td>
                            <button type="button" class="btn" onclick="" method="get">Use it</button>
                            </td>
                            
                        </tr>


                    </tbody>

                </table>
                 <div class="actions" style="width: 571px; ">
			<input type="submit" class="btn btn-primary"
				value="I still want to check price manually">
		</div>
	
	</div>
			
	
	
</body>
}
