@(form: Form[EstimateController.Login]){

@main("Estimator") {    
    
    @helper.form(routes.EstimateController.authenticate) {
        
        <h1>Sign in</h1>

        
        <p>
            <input type="text" name="username" placeholder="Username">
        </p>
        <p>
            <input type="password" name="password" placeholder="Password">
        </p>
        <p>
            <button type="submit" class="btn btn-primary">Login</button>    
        </p>
        
    }
            
}
    
}
