@main("Tutorial") {

<ol class="breadcrumb">
	<li class="active">Tutorial</li>
	<li><a href="/estimator">Collect Data</a></li>
	<li><a href="/estimator/1">Input Preference</a></li>
	<li><a href="/estimator/2">Workflow Summary</a></li>
	<li><a href="/estimator/3">Recommendation</a></li>
</ol>

<iframe width="600" height="400" src="http://www.youtube.com/embed/6A_KMshTN2g?rel=0" frameborder="0" allowfullscreen></iframe>

<p>
This video shows how to connect the vistrails workflow to the Einstein Website(http://einstein.sv.cmu.edu/estimator).

<ul>
<li>Run vistrails. (python VISTRAILS_PATH/vistrails/vistrails.py)</li>
<li>Import a workflow.</li>
<li>Click the menu Packages, and then Amazon Plugin. Inside that choose the 'Go to estimator'</li>
<li>Input the notification email and click Estimate. Then you can be directed to the estimator web page.</li>
</ul>
</p>

}