
@(deviceTypes: List[metadata.DeviceType], deviceTypeForm: play.data.Form[metadata.DeviceType])

@import helper._

@scripts = {
	<script src='@routes.Assets.at("javascripts/edit_button.js")'></script>
}

@main("DeviceTypes", scripts) {
    
    @flash_message()
    
    <h1>@deviceTypes.size() Devices Types</h1>
    <table class="table table-striped table-bordered table-condensed">
	    <tr>
	    	<td>Device Type Name</td>   
	    	<td>Manufacturer</td>
	    	<td>Version</td>
	    	<td>Sensor Type Names</td>
	        <td>User Defined Fields</td>
	    						
	    	@if(session.get("email")){
	    		<td>Operation</td>
	    	}
	    </tr>

    	@for(deviceType <- deviceTypes) {
    	<tr>
            <td>@deviceType.getDeviceTypeName()</td>
            <td>@deviceType.getManufacturer()</td>
            <td>@deviceType.getVersion()</td>
	    	<td>@deviceType.getSensorTypeNames()</td>
            <td>
            <span class="@deviceType.getDeviceTypeName() editable"
            	data-name='deviceTypeUserDefinedFields'>
            	@deviceType.getDeviceTypeUserDefinedFields()
            </span>
            </td>
	    	@if(session.get("email")){
            		
	              	<td class="operation">
						<input type="button" class="edit-btn btn btn-primary" value="Edit" 
							data-pk='@deviceType.getDeviceTypeName()' 
							data-url='@routes.DeviceTypeController.editDeviceType()' 
						>						
             			@form(routes.DeviceTypeController.deleteDeviceType()){
               		 		<input name="idHolder" type="hidden" value="@deviceType.getDeviceTypeName()">
        							<input type="submit"  class="btn btn-danger" value="Delete" onclick="return confirm('Are you sure you want to delete this item?')">
            			}
               			
            		</td>
            }
    	</tr>
        }
    </table>
    
    @if(session.get("email")){
    <h2>Add a new device type</h2>

	    @form(action = routes.DeviceTypeController.newDeviceType()) {
	        
	            @inputText(
	                deviceTypeForm("deviceTypeName"), 
	                '_label -> "Device Type Name * (Please DO NOT contain spaces)",                 
	                '_error -> deviceTypeForm.globalError                                
	            )
	            @inputText(
	                deviceTypeForm("manufacturer"), 
	                '_label -> "Manufacturer", 
	                '_error -> deviceTypeForm.globalError                                
	            )
	            @inputText(
	                deviceTypeForm("version"), 
	                '_label -> "Version",
	                '_error -> deviceTypeForm.globalError                                
	            )
	            @inputText(
	            	deviceTypeForm("deviceTypeUserDefinedFields"),
	            	'_label -> "User Defined Fields",
	            	'_error -> deviceTypeForm.globalError
	            )
	            <dt>
	            	<label>Sensor Type Name</label>
	            </dt>
	            <dd>
		            <select id="sensorTypeNames" name="sensorTypeNames" multiple>
		            	@for(sensorTypeName <- metadata.SensorType.allSensorTypeName()) {
		            		<option value="@sensorTypeName">@sensorTypeName</option>
		            	}
		            </select>
	            </dd>
	           
	      
	        <div class="actions">
	            <input type="submit" class="btn primary" value="Register">
	            <a href="@routes.DeviceTypeController.deviceTypes()" class="btn">Cancel</a>
	        </div>
	        
	    }
	}
}