
@()
	<div class="navbar navbar-default navbar-fixed-top" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" style="padding-bottom: 0;" href="/"><img
					src='@routes.Assets.at("images/logo.png")' style="height: 28px;"></a>
			</div>
			<div class="navbar-collapse collapse" style="height:">
				<ul class="nav navbar-nav navbar-right">

					<li><a href="@routes.Application.index()">Home</a></li>
					
					<li class="dropdown"><a href="#"
						class="dropdown-toggle" data-toggle="dropdown">Meta Data <b
							class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a href="@routes.SensorCategoryController.sensorCategories()">1. Sensor
									Categories</a></li>
							<li><a href="@routes.SensorTypeController.sensorTypes()">2. Sensor
									Types</a></li>
							<li><a href="@routes.DeviceTypeController.deviceTypes()">3. Device Types</a></li>							
							<li><a href="@routes.DeviceController.devices()">4. Devices</a></li>
							<li><a href="@routes.SensorController.sensors()">5. Sensors</a></li>
						</ul></li>

					<li class="dropdown"><a href="#" class="dropdown-toggle"
						data-toggle="dropdown">Sensor Data<b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a href="@routes.SensorReadingController.sensorReadings()">Data Export</a></li>
							
						</ul></li>
						
					<li class="dropdown"><a href="#" class="dropdown-toggle"
						data-toggle="dropdown">Console Management<b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a href="@routes.DashboardController.dashboard()">Dashboard</a></li>
							<li><a href="http://sensorserviceplatform.github.io/VirtualSensorEditor/">Virtual Sensor Editor</a></li>
							<li><a href="http://sensorserviceplatform.github.io/Visualization/">Virtualization</a></li>							
						</ul></li>					
											
					<li><a href="@routes.AboutusController.aboutus()">About Us</a></li>

					@if(!session.get("email")){
					
						<form class="navbar-form navbar-right" action="@routes.Application.login()">
							<button type="submit" class="btn btn-success">Sign in</button>
						</form>
					}else{
						<form class="navbar-form navbar-right" action="@routes.Application.logout()">
							<button type="submit" class="btn btn-success">Log out</button>
						</form>
					}
					
				</ul>
			</div>
			<!--/.nav-collapse -->
		</div>
	</div>
