
@import helper._ 

@main("Carnegie Mellon University Sensor Data Storage"){

	<div class="jumbotron">
		<div class="row">
			<div class="col-lg-6">

				<img src='@routes.Assets.at("images/fireimp_small.jpg")' style="padding-bottom: 0;">

			</div>
			<div class="col-lg-6">
				<h1>Internet of Things Data Service Platform</h1>
				<p>A federated cloud platform for mobile data-centric service
					development and sharing.</p>
				<p>
					<a class="btn btn-lg btn-default"
						href="https://drive.google.com/file/d/0B9nWqnYxEA3HSEo3Zkx2QWJEVlE/edit?usp=sharing">Getting Started &raquo;</a>
				</p>
			</div>
		</div>
	</div>

	<!-- Content -->
	<div class="row">
		<div class="col-lg-4">
			<h2>Tutorial</h2>
			<p>
			Here is a simple guide on <a 
				href="https://drive.google.com/file/d/0B0uwbnoOCGhEWGVuZjMtcDljcFE/edit?usp=sharing"
				>how to use the platform</a>.
			</p>
		</div>
		<div class="col-lg-4">
			<h2>Visualization</h2>
			<p>
				A <a href="http://sensorserviceplatform.github.io/Visualization/">visualization</a> of the sensor network.
			</p>
		</div>
		<div class="col-lg-4">
			<h2>Virtual Sensor</h2>
			<p>
				A <a href="http://sensorserviceplatform.github.io/VirtualSensorEditor/">virtual sensor</a> tour.
			</p>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-4">
			<h2>Open Source</h2>
			<p>
				All the code is currently hosted on Github. Feel free to contribute
				to this <a href="https://github.com/cmusv-sc">community</a>.
			</p>
		</div>
		<div class="col-lg-4">
			<h2>To Dos</h2>
			<p>
				Check the open <a
					href="https://github.com/cmusv-sc/ArchF2013-Project3-FT/issues?page=1&state=open">issues</a>
				on Github.
			</p>
		</div>
		<div class="col-lg-4">
			<h2>More information</h2>
			<p>
				For more information about this project, and a good general
				overview, see the <a
					href="https://docs.google.com/open?id=0B6VEjpK6RPgVN2Q1aDhRRjJid0U">slide
					deck</a> covering relevant features.
			</p>
		</div>
	</div>
}
